<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Printer Button Setup Interface</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <h3 class="text-muted">A Better Troubleshooting Experience</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Printer Button Setup Interface</h1>
            <p class="lead">Please enter device and message information.</p>
            <form action="/">
                <div class="form-group">
                  <label for="email">Printer ID:</label>
                  <input type="email" class="form-control" id="email">
                </div>
                <div class="form-group">
                    <label for="email">Location:</label>
                    <input type="email" class="form-control" id="email">
                  </div>
                  <div class="form-group">
                    <label for="email">Email Subject Message:</label>
                    <input type="email" class="form-control" id="email">
                  </div>
                  <div class="form-group">
                  <label for="email">Email Body Message:</label>
                  <br>
                  <textarea cols="145" rows="10"></textarea> 
                  </div>
            </form>
              </form>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Add A New Device</a>
            </p>
        </div>
 
        <footer class="footer">
            <p>&copy; Pushing Dave's Buttons 2018</p>
        </footer>
 
    </div>
</body>
 
</html>